/* CSS Document */

@charset "utf-8";

/*
72ポイント＝96ピクセル
3pt=4px
9pt=12px
10.5pt=14px
12pt=16px
13.5pt=18px
15pt=20px
*/

/*
横幅
1300~			:PC
800~1300	:PC
640~799		:スマホ
	 ~640		:スマホ
*/

html{
	font-size:16px;
	line-height:100%;
}
@media screen and (max-width: 799px) {
	html{
		/* font-size:20px; */
		font-size:3.5vw;
		/* font-size:3.75vw; */
	}
}

html *{
	/*
	line-height:100%;
	background-position:left top;
	background-repeat:no-repeat;
	*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	word-break: break-all;
}
body {
	margin: 0px;
	padding: 0px;
	font-size:100%;
	color:#000;
	/* font-family:"メイリオ", sans-serif; */
	/* font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif; */
	/* font-family:"游明朝","Yu Mincho","YuMincho",'FOT-筑紫明朝 Pr6N R','TsukuMinPr6N-R',"Georgia","Hiragino Mincho ProN","HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif; */
	font-family:"游明朝","Yu Mincho","YuMincho",'FOT-筑紫明朝 Pr6N R','TsukuMinPr6N-R',"Hiragino Mincho ProN","HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif;
	line-height:100%;
}
h1,h2,h3,h4,h5,h6,p,form,hr{
	margin: 0px;
	padding: 0px;
}
a{
	color:inherit;
	text-decoration:none;
}
a:hover{
	/* color:#F00; */
}
a img{
	border:none;
}
a.bright125 img:hover,input.bright125:hover{
	/*
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
	*/
	-webkit-filter: brightness(1.25);
  -moz-filter: brightness(1.25);
  -o-filter: brightness(1.25);
  -ms-filter: brightness(1.25);
  filter: brightness(1.25);
}
ul,li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
hr{
	border-top:solid 1px rgba(0,0,0,0.25);
	border-bottom:none;
	border-left:none;
	border-right:none;
	margin:auto;
	padding:0;
}
img{max-width:100%;min-width:10px;display:block;}
h2 .title{
	display:inline-block;
	font-weight:normal;
	letter-spacing:0.2em;
	margin-right:-0.2em;
	padding-bottom: 15px;
	border-bottom: solid 1px #956F29;
}
@media screen and (max-width: 799px) {
	h2 .title{
		font-size:66%;
		line-height:100%;
	}
}

/* ----- */

.H_head{height:75px;}
#header{
	background-color:rgba(255,255,255,1);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	color:#004021;
	z-index:1000;
}
#header.transition{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
#header.flag1.flag2{
	background-color:rgba(255,255,255,0);
	/* background-color:rgba(0,0,0,0.2); */
	color:#FFF;
}
#header .logo{
	position:absolute;
	left:50px;
	top:0;
	bottom:0;
	margin:auto;
	width:149px;
	height:49px;
	background-image:url(../images/common/logo-head-w.png);
}
#header .logo img{
	width:149px;
	height:49px;
}
#header.flag1.flag2 .logo img{
	visibility:hidden;
}
.formbtn.sp_vanish{
	position:fixed;
	top:130px;
	right:0;
	z-index:1100;
}
.formbtn.sp_vanish img{
	margin-top:2px;
}
@media screen and (min-width: 800px) {
	#header .menubtn{
		display:none;
	}
	#header .h_menu .closebtn{
		display:none;
	}
	#header .h_menu{
		float:right;
		margin-top:30px;
		margin-right:70px;
		font-size:85%;
	}
	#header .h_menu li{
		float:left;
		margin-left:30px;
	}
	#header .h_menu li:first-child,
	#header .h_menu li:nth-child(2){
		margin-left:0;
	}
	#header .h_menu li a{
		position: relative;
		display: inline-block;
	}
	#header .h_menu li a::after{
		position: absolute;
		top: 44px;
		left: 0;
		content: '';
		width: 100%;
		height: 1px;
		background: #004021;
		transform: scale(0, 1);
		transform-origin: right top;
		transition: transform .3s;
	}
	#header.flag1.flag2 .h_menu li a::after{
		background: #fff;
	}
	#header .h_menu li a:hover::after{
		transform-origin: left top;
		transform: scale(1, 1);
	}
	#header .formbtn{
		position: absolute;
		top:130px;
		right:0;
	}
	#header .formbtn img{
		margin-top:2px;
	}
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
	#header .h_menu{
		margin-right:5.384615385vw;
	}
	#header .h_menu li{
		margin-left:2.307692308vw;
	}
}
@media screen and (max-width: 799px) {
	#header .formbtn img{
		margin-top:0;
	}	
	
	#header.flag1.flag2{
		background-color:rgba(0,0,0,0.75);
	}
	#header .logo{
		left:0;
		right:0;
		top:0;
		bottom:0;
		margin:auto;
	}
	#header .menubtn{
		display:inline-block;
		cursor:pointer;
		padding:25px;
		position: absolute;
		top:1px;
		right:0;
	}
	#header .menubtn .bg_cover{
		width:25px;
		background-image:url(../images/common/menubtn-w.png);
	}
	#header .menubtn .bg_cover.close{
		background-image:url(../images/common/closebtn-w.png);
	}
	#header .menubtn img{
		width:100%;
		background-image:url(../images/common/menubtn.png);
	}
	#header .menubtn .close img{
		background-image:url(../images/common/closebtn.png);
	}
	#header.flag1.flag2 .menubtn img{
		visibility:hidden;
	}
	#header .h_menu{
		position: absolute;
		top:100%;
		right:0;
		display:none;
		width:100%;
		z-index:100;
	}
	#header .h_menu li{
		position:relative;
		/* background-color:rgba(255,255,255,1); */
		background-color:rgba(0,0,0,0.75);
		text-align:left;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		/* color:#004021; */
		color:#FFF;
		/* border-bottom:solid 1px rgba(255,255,255,0); */
		border-bottom:solid 1px rgba(255,255,255,0.5);
		font-size:110%;
		line-height: 100%;
	}
	/*
	#header.flag1.flag2 .h_menu li{
		background-color:rgba(0,0,0,0.2);
		color:#FFF;
		border-bottom:solid 1px rgba(255,255,255,0.5);
	}
	*/
	#header .h_menu li:hover{
		-webkit-transition: 0.0s;
		-moz-transition: 0.0s;
		-o-transition: 0.0s;
		-ms-transition: 0.0s;
		transition: 0.0s;
		/* background-color:#004021; */
		background-color:rgba(0,64,33,0.9);
		/* background-color:rgba(0,0,0,0.9); */
		/* color:#FFF; */
	}
	#header .h_menu li .closebtn{
		position:absolute;
		right:1em;
		top:0;
		bottom:0;
		margin:auto;
		width:20px;
		height:20px;
		background-image:url(../images/common/closebtn-w.png);
		cursor:pointer;
	}
	#header .h_menu li .closebtn img{
		width:100%;
		visibility:hidden;
	}
	#header.flag1.flag2 .h_menu li .closebtn img,
	#header .h_menu li:hover .closebtn img{
		visibility:hidden;
	}
	#header .h_menu a{
		display:block;
		width:300px;
		padding:1em;
		padding-right:0;
	}
	#header .formbtn{
		/*
		position: absolute;
		top:auto;		
		bottom: -65px;
		*/
		position: fixed;
		bottom:0;
		left: 0;
		right: 0;
		margin:auto;
		height:70px;
		padding-top: 5px;
		background-color: #FFF;
	}
	#header .formbtn a{
		display:inline-block;
		width:32%;
		height:60px;
		margin-left:1%;
		position:relative;
	}
	#header .formbtn a:first-child{
		margin-left:0;
	}
	#header .formbtn a.btninfo{
		/*
		border:solid 4px #004021;
		background-color:#fff;
		*/
		background-color:#231815;
	}
	#header .formbtn a .btntext{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		height:1.25em;
		/* font-size:90%; */
		font-size:20px; 
		line-height:125%;
		color:#fff;
	}
	#header .formbtn a.btninfo .btntext{
		/*
		color:#004021;
		font-size:120%;
		*/
		font-size:28px;
	}
	#header .formbtn a .btntext.H2em{
		height:2.5em;
	}
	#header .formbtn a img{
		/* width:100%; */
		height:50px;
	}
}

.h_photo{
	background-position:center 0px;
	background-repeat:no-repeat;
	/* background-size:cover; */
	/* background-size:100% auto; */
	/* background-size:auto 100%; */
	background-size:1300px auto;
	background-attachment: fixed;
	color:#FFF;
	/*
	-webkit-transition: 0.0s;
	-moz-transition: 0.0s;
	-o-transition: 0.0s;
	-ms-transition: 0.0s;
	transition: 0.0s;
	*/
}
@media screen and (min-width: 1301px) {
	.h_photo{background-size:100% auto;}
}
.h_photo.nofixed{
	background-size:cover;
	background-attachment:scroll;
}
.h_photo .dark{
	background-image:url(../images/common/dark-ami.png);
	background-position:left top;
	background-repeat:repeat;
	background-size:auto;
	padding-top:75px;
}

.pan{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}
.pan .box{
	/*
	margin-left:20px;
	margin-right:50px;
	*/
	margin:0 50px;
	padding:1em 0;
	border-bottom:solid 1px rgba(0,0,0,0.25);
}
.h_photo .pan .box{
	border-bottom:none;
}
.pan .box span{
	display:inline-block;
	padding:0 0.75em;
}
@media screen and (max-width: 799px) {
	.pan .box{
		/* padding-top:80px; */
		margin:0 20px;
	}
}

.p_title{
	padding-top:80px;
	padding-bottom:60px;
	/*
	margin-left:20px;
	margin-right:50px;
	*/
	margin:auto;
	font-size:200%;
	font-weight:normal;
}
.p_title > span{word-break: break-word;}
.p_title .mini{
	font-size:50%;
	margin-top:0.5em;
}
.h_photo .p_title{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0;
	margin:auto;
	height:2em;
}
@media screen and (max-width: 799px) {
	.p_title{
		/* margin-right:20px; */
	}
	.h_photo .p_title{
		padding-top:65px;
	}
}

.content{
	/*
	margin-left:20px;
	margin-right:50px;
	*/
	max-width:1200px;
	margin:0 50px;
	text-align:left;
}
@media screen and (max-width: 799px) {
	.content{
		/* margin-right:20px; */
		margin:0 20px;		
	}
}

.anchor {position:relative;}
.anchor a{
	position:absolute;
	top:-75px;
}

.btn_oval{
	display:inline-block;
	background-color: #004021;
	color: #FFF;
	padding:0.4em 0;
	border:solid 0.1em #004021;
	cursor:pointer;
}
.btn_oval.colorLG{
	background-color: #22AB38;
	border:solid 0.1em #22AB38;
}
.btn_oval.colorR{
	background-color:#E20B20;
	border:solid 0.1em #E20B20;
}
.btn_oval.colorW{
	background-color:#FFFFFF;
	color:#004021;
}
.btn_oval.colorW_R{
	background-color:#FFFFFF;
	color:#E20B20;
	font-weight:bold;
	border:solid 0.2em #E20B20;
}
.btn_oval.colorBL{
	background-color:#000;
	color:#FFF;
	border-color: #000;
}

.login_box{
	background-color:rgba(0,0,0,0.55);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	margin:0;
	display:none;
	z-index: 2000;	
}
@media screen and (max-width: 799px) {
	.login_box{font-size:17px;}
}
@media screen and (max-width: 625px) {
	.login_box{font-size:2.72vw;}
}
.login_box .closebtn{
	position:absolute;
	top:20px;
	right:20px;
	width:25px;
	cursor:pointer;
}
@media screen and (max-width: 625px) {
	.login_box .closebtn{
		top:3.2vw;
		right:3.2vw;
		width:4vw;
	}
}
.login_box .bg_white{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;	
	width:30em;
	height:50em;
	box-shadow: 0.25em 0.25em 1.5em 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0.25em 0.25em 1.5em 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0.25em 0.25em 1.5em 0px rgba(0,0,0,0.5);
}
@media screen and (max-width: 550px) {
	.login_box .bg_white{
		height:48em;
	}
}
.login_box .icon_members_only{
	margin:auto;
	margin-top:55px;
}
@media screen and (max-width: 625px) {
	.login_box .icon_members_only{
		margin-top:8.8vw;
	}
}
.login_box .login_text{
	margin-top:1.5em;
	text-align:center;
}
.login_box form{
	width:400px;
	max-width:90%;
	margin-top:2em;
	margin-bottom:2.5em;
}
.login_box form td{
	vertical-align:middle;
	text-align:left;
	padding-bottom:1em;
}
.login_box form .login_btn{
	background-color: #C89F63;
	color: #fff;
	font-size: 100%;
	line-height: 100%;
	padding: 0.5em 1.5em;
	border:none;
}
.login_box .mem_comment{
	width:400px;
	max-width:90%;
}
.login_box .mem_comment .lb_text{
	padding:1em 1.3em;
	padding-bottom:3.6em;
	text-align:left;
}
@media screen and (max-width: 799px) {
	.login_box .mem_comment .lb_text{
		padding:1em 1.1em;
		padding-bottom:3.6em;
	}
}
@media screen and (max-height: 799px) {
	.loginbox{font-size:20px;}
	.login_box .bg_white{
		width: 90%;
		max-width: 1000px;
		height: 18.25em;
	}
	.login_box .part_top{
		float:left;
		width: 48%;
		margin-left:20px;
		font-size:90%;
	}
	.login_box .icon_members_only{
		float: left;
		width: 6em;
		margin-top:20px;
	}
	.login_box .login_text{
		text-align:left;
		margin-top:2em;
		padding-left: 6.5em;
	}
	.login_box form{
		clear:both;
		margin:0;
    padding-top: 2em;
		width: 100%;
		max-width: 100%;
	}
	.login_box .mem_comment{
    float:right;
		width: 40%;
		margin-top:20px;
		margin-right:65px;
	}
}
@media screen and (max-width: 1079px) and (max-height: 799px) {
	.login_box .bg_white{
		height: 20em;
	}
	.login_box .login_text br{
		display:none;
	}
}
@media screen and (max-width: 939px) and (max-height: 799px) {
	.login_box .bg_white{
		height: 22em;
	}
	.login_box .part_top{
		width: 45%;
	}
}
@media screen and (max-width: 839px) and (max-height: 799px) {
	.login_box .bg_white{
		height: 24em;
	}
}

.mem_comment{
	position:relative;
}
.mem_comment a,
.btn_member{
	display:block;
	background-color:#C89F63;
	color:#002E12;
	margin:auto;
	font-size:100%;
	line-height:100%;
	padding:0.5em 0;
	width:14em;
}
.mem_comment a{
	display:inline-block;
	position:absolute;
	bottom:1em;
	left:0;
	right:0;
	height:2em;
}
@media screen and (max-width: 799px) {
	.btn_member{margin-top:2em;}
}


.slide_box{width:100%;}
.slide_box .arrow{width:48px;}
.slide_box .arrow .btn_prev,
.slide_box .arrow .btn_next{
	width:48px;
	height:250px;
	cursor:pointer;
	/* background-position:center center; */
	background-repeat:no-repeat;
	background-size:50%;
}
.slide_box .arrow .btn_prev{
	background-image:url(../images/common/arrow-prev.png);
	background-position:left center;
}
.slide_box .arrow .btn_next{
	background-image:url(../images/common/arrow-next.png);
	background-position:right center;
}
.slide_box .menu{
	overflow: hidden;
	vertical-align: top;
	/* white-space: nowrap; */
	/* height: 400px; */
	height:25em;
}
@media screen and (max-width: 799px) {
	/* .slide_box{width:auto; margin:auto;} */
	.slide_box .arrow{width:auto;}
	.slide_box .arrow .btn_prev,
	.slide_box .arrow .btn_next{
		/* background-position:center center; */
		margin:auto;
		height:350px;
	}
	.slide_box .menu{
		/* width:340px; */
		width:480px;
		height:30em;
		/* font-size:18px; */
	}
}
.slide_box ul{
	position: absolute;
	top: 0;
}
.slide_box li{
	float:left;
	/* height: 400px; */
	height:25em;
}
.slide_box li table{
	width:340px;
}
.slide_box li{
	width:385px;
}
.slide_box li *{
	word-break:break-all;
}
.slide_box li table{
	margin-left:0;
	margin-right:auto;
}
@media screen and (max-width: 799px) {
	.slide_box li{
		width:480px;
		height:30em;
		font-size: 135%;
	}
	.slide_box li table{
		width:480px;
		margin:auto;
	}
}

.slide_box li .photo{
	/* background-color:#fff; */
}
.slide_box li .photo a{
	display: block;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide_box li .photo.step1 a{background-color:#004021;}
.slide_box li .photo.step2 a{background-color:#007F3C;}
.slide_box li .photo.step3 a{background-color:#48B43F;}
.slide_box li .photo.step4 a{background-color:#BF9456;}
.slide_box li .photo.step_mr a{background-image:url(../images/content/info/step_mr-pic.jpg);}
.slide_box li .photo.step_ev01 a{
	/* background-image:url(../images/content/info/step_ev01-pic.jpg); */
	background-color:rgba(35,24,21,0.50);
}
@supports (-ms-ime-align:auto) {
	/* edgeのみ */
	.slide_box li .photo.step_ev01 a{background-color:rgba(35,24,21,1);}
}
.slide_box li .photo.step_ev02 a{background-image:url(../images/content/info/step_ev02-pic.jpg);}
.slide_box li .photo.step_ev03 a{background-image:url(../images/content/info/step_ev03-pic.jpg);}
.slide_box li .photo img{
	display: block;
	mix-blend-mode: overlay;
	opacity: 0.4;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px;
	/*
	height: 100%;
	min-height: 250px;
	*/
	margin:auto;
}
.slide_box li .photo.step0 img,
.slide_box li .photo.step5 img,
.slide_box li .photo.step_ev01 img{
	mix-blend-mode:multiply;
	opacity:1;
}
@supports (-ms-ime-align:auto) {
	/* edgeのみ */
	.slide_box li .photo.step_ev01 img{
		mix-blend-mode:normal;
		opacity:0.5;
	}
}
.slide_box li .photo.step_mr img,
.slide_box li .photo.step_ev02 img,
.slide_box li .photo.step_ev03 img{
	mix-blend-mode:normal;
	opacity:0;
}
@media screen and (max-width: 799px) {
	.slide_box li .photo img{
		/* width: 340px; */
		height: 350px;
	}
}
.slide_box li .photo div{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}
.slide_box li .photo.step1 div{background-image:url(../images/content/info/step1.png);}
.slide_box li .photo.step2 div{background-image:url(../images/content/info/step2.png);}
.slide_box li .photo.step3 div{background-image:url(../images/content/info/step3.png);}
.slide_box li .photo.step4 div{background-image:url(../images/content/info/step4.png);}
.slide_box li .photo.step_mr div{background-image:url(../images/content/info/step_mr.png);}
.slide_box li .photo.step_ev01 div{background-image:url(../images/content/info/step_ev01.png);}
.slide_box li .photo.step_ev02 div{background-image:url(../images/content/info/step_ev02.png);}
.slide_box li .photo.step_ev03 div{background-image:url(../images/content/info/step_ev03.png);}

.slide_box li .text{
	vertical-align: top;
	text-align: left;
}
.slide_box li .text h4{
	font-size: 110%;
	line-height: 100%;
	font-weight: normal;
	margin-top:1em;
	margin-bottom:0.5em;
}
.slide_box li .text .access {
	font-size: 80%;
	line-height: 175%;
}
.slide_box li .text .newmark {
	margin-top:0.5em;
}
.slide_box li .text .newmark span {
	display: inline-block;
	padding: 0.3em 0.6em;
	font-size: 80%;
	line-height: 100%;
	margin: auto;
	background-color: #E50012;
	color: #FFF;
}
.slide_box li .text .newmark span.bg_green{background-color:#004021;}
@media screen and (max-width: 799px) {
	.slide_box li .text h4{
		line-height: 125%;
		/*
		font-size: 120%;
		*/
	}
	/*
	.slide_box li .text .access {font-size: 90%;}
	.slide_box li .text .newmark span {font-size: 90%;}
	*/
}

.voice_tagbox{
	text-align:left;
	padding-top:0.25em;
	margin-left: -0.25em;
}
.voice_tagbox > *{
	display:inline-block;
	background-color:#004021;
	color:#FFF;
	position:relative;
	font-size:80%;
	line-height:102% !important;
	padding:0.5em;
	padding-left:0.25em;
	margin-left: 1.25em;
	margin-top: 0.25em;
}
.voice_tagbox > * .arrow{
	position:absolute;
	top:0;
	right:100%;
	width:0;
	height:100%;
	border-right:solid 1em #004021;
	border-top:solid 1em transparent;
	border-bottom:solid 1em transparent;
}

.bottom_bnr{
	margin-bottom: 75px;
	margin-top: 75px;
}
.bottom_bnr a{
	display: inline-block;
	margin: 0.75em;
	margin-top: 0;
}
.bottom_bnr a img{width:500px;}

#footer{
	background-color:#231815;
	color:#FFF;
	padding-top:60px;
	padding-bottom:45px;
}
#footer .logo{
	width:200px;
}
#footer .tel{
	width:202px;
}
#footer .toushin{
	width:146px;
}
#footer .set2{}
#footer .set2 table{
	width:100%;
}
#footer .set2 td{
	vertical-align:top;
	text-align:left;
}
#footer .set2 td div{margin-bottom:1em;}
#footer .set2 td div:last-child{margin-bottom:0;}
#footer .set2 td a{display:inline-block;}
/* @media screen and (min-width: 800px) { */
	#footer .set1{
		float:left;
	}
	#footer .set1 .tel{
		margin-top:40px;
	}
	#footer .set2{
		float:right;
		width:60%;
		padding-top:30px;
	}
/* } */
@media screen and (max-width: 799px) {
	#footer .set1{
		float:none;
	}
	#footer .set1 .tel{
		margin-top:auto
	}
	
	#footer .set1,
	#footer .set2{
		width:100%;
		max-width:500px;
	}
	#footer .logo{
		float:left;
	}
	#footer .tel{
		float:right;
	}
	#footer .set2{
		float:none;
		padding-top:75px;
	}
}
#footer .set3{
	width:100%;
	max-width:400px;
}
#footer .set3 td{
	/* vertical-align:bottom; */
	vertical-align:middle;
}
@media screen and (max-width: 799px) {
	#footer .set3{
		max-width:450px;
	}
}
.copy{
	padding:20px 0;
	font-size:80%;
	margin-bottom: 70px;
}

.icon_members_only{
	width:10em;
	max-width:100%;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	box-shadow: 0.5em 0.5em 0.75em 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0.5em 0.5em 0.75em 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0.5em 0.5em 0.75em 0px rgba(0,0,0,0.75);
}

/* ----- */

.pc_vanish{}
.sp_vanish{}
.im_vanish{display:none!important;}
.pc_br_del{}
.sp_br_del{}
.br_del br{display:none!important;}
@media screen and (min-width: 800px) {
	.pc_vanish{display:none!important;}
	.pc_br_del br{display:none!important;}
}
@media screen and (max-width: 799px) {
	.sp_vanish{display:none!important;}
	.sp_br_del br{display:none!important;}
}
.v_hidden{
	visibility:hidden;
}

.W50per{width:50%;}
.W100per{width:100%;}
.W2line{width:50%; float:left;}
.RtoL .W2line{float:right;}
@media screen and (max-width: 799px) {
	.W2line{width:100%; float:none;}
}
.Wmax500{max-width:500px;}
.Wmax800{max-width:800px;}
.Wmax960{max-width:960px;}
.Wmax980{max-width:980px;}
.Wmax1000{max-width:1000px;}
.Wmax1100{max-width:1100px;}
.Wmax1200{max-width:1200px;}
.Wmax1300{max-width:1300px;}
.Wmax90per{max-width:90%;}
.Wmax100per{max-width:100%;}
.mgnLRvw{
	margin-left:auto;
	margin-right:auto;
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
	.Wmax1200.mgnLRvw{
		margin-left:3.846153846vw;
		margin-right:3.846153846vw;
	}
}
/*
@media screen and (max-width: 999px) {
	.Wmax1000.dan{max-width:750px;}
}
@media screen and (max-width: 749px) {
	.Wmax1000.dan{max-width:500px;}
}
@media screen and (max-width: 499px) {
	.Wmax1000.dan{max-width:250px;}
}
*/


/*
.padT30{padding-top:30px;}
.padT55{padding-top:55px;}
.padT85{padding-top:85px;}
.padB25{padding-bottom:25px;}
.padB30{padding-bottom:30px;}
.padB40{padding-bottom:40px;}
.padB55{padding-bottom:55px;}
.padB80{padding-bottom:80px;}
.padB125{padding-bottom:125px;}
.padTB25{padding-top:25px; padding-bottom:25px;}
.padTB50{padding-top:50px; padding-bottom:50px;}
.padTB90{padding-top:90px; padding-bottom:90px;}

.padLR20{padding-left:20px; padding-right:20px;}
.padLR25{padding-left:25px; padding-right:25px;}
.padA100{padding:100px;}
.mgnT15{margin-top:15px;}
.mgnT30{margin-top:30px;}
.mgnT40{margin-top:40px;}

.mgnT55{margin-top:55px;}
.mgnT60{margin-top:60px;}
.mgnT75{margin-top:75px;}
.mgnB20{margin-bottom:20px;}
.mgnB30{margin-bottom:30px;}
.mgnB55{margin-bottom:55px;}
.mgnB65{margin-bottom:65px;}
.mgnLm0_5em{margin-left:-0.5em;}
*/
.padB75{padding-bottom:75px;}
.padTB0_5em{padding-top:0.5em; padding-bottom:0.5em;}
.padTB1em{padding-top:1em; padding-bottom:1em;}
.padA1em{padding:1em;}
.mgnT50{margin-top:50px;}
.mgnT90{margin-top:90px;}
.mgnT0_25em{margin-top:0.25em;}
.mgnT0_5em{margin-top:0.5em;}
.mgnB40{margin-bottom:40px;}
.mgnB0_5em{margin-bottom:0.5em;}
.mgnB1em{margin-bottom:1em;}
.mgnR0_5em{margin-right:0.5em;}

.mgnLR20{margin-left:20px; margin-right:20px;}
.mgnLR25{margin-left:25px; margin-right:25px;}
.mgnLR50{margin-left:50px; margin-right:50px;}
.mgnLRAuto{margin-left:auto; margin-right:auto;}
.mgnAuto{margin:auto;}
@media screen and (max-width: 799px) {
	.mgnLR0_sp{margin-left:0px; margin-right:0px;}
	.mgnLR20_sp{margin-left:20px; margin-right:20px;}
}


.fontP050{font-size:50%;}
.fontP060{font-size:60%;}
.fontP070{font-size:70%;}
.fontP075{font-size:75%;}
.fontP080{font-size:80%;}
.fontP087{font-size:87.75%;}
.fontP090{font-size:90%;}
.fontP100{font-size:100%;}
.fontP110{font-size:110%;}
.fontP115{font-size:115%;}
.fontP120{font-size:120%;}
.fontP125{font-size:125%;}
.fontP130{font-size:130%;}
.fontP140{font-size:140%;}
.fontP150{font-size:150%;}
.fontP160{font-size:160%;}
.fontP170{font-size:170%;}
.fontP175{font-size:175%;}
.fontP180{font-size:180%;}
.fontP190{font-size:190%;}
.fontP200{font-size:200%;}
.sp_fontP050{}
.sp_fontP060{}
.sp_fontP070{}
.sp_fontP075{}
.sp_fontP080{}
.sp_fontP087{}
.sp_fontP090{}
.sp_fontP100{}
.sp_fontP110{}
.sp_fontP115{}
.sp_fontP120{}
.sp_fontP125{}
.sp_fontP130{}
.sp_fontP140{}
.sp_fontP150{}
.sp_fontP160{}
.sp_fontP170{}
.sp_fontP175{}
.sp_fontP180{}
.sp_fontP190{}
.sp_fontP200{}
@media screen and (max-width: 799px) {
	.sp_fontP050{font-size:50%;}
	.sp_fontP060{font-size:60%;}
	.sp_fontP070{font-size:70%;}
	.sp_fontP075{font-size:75%;}
	.sp_fontP080{font-size:80%;}
	.sp_fontP087{font-size:87.75%;}
	.sp_fontP090{font-size:90%;}
	.sp_fontP100{font-size:100%;}
	.sp_fontP110{font-size:110%;}
	.sp_fontP115{font-size:115%;}
	.sp_fontP120{font-size:120%;}
	.sp_fontP125{font-size:125%;}
	.sp_fontP130{font-size:130%;}
	.sp_fontP140{font-size:140%;}
	.sp_fontP150{font-size:150%;}
	.sp_fontP160{font-size:160%;}
	.sp_fontP170{font-size:170%;}
	.sp_fontP175{font-size:175%;}
	.sp_fontP180{font-size:180%;}
	.sp_fontP190{font-size:190%;}
	.sp_fontP200{font-size:200%;}
}
.font_normal{font-weight:normal;}
.font_bold{font-weight:bold;}
.font_min{font-family:"ＭＳ Ｐ明朝","細明朝体","ヒラギノ明朝 Pro W3",serif;}
.font_meiryo{
	/* font-family:"游ゴシック体","メイリオ", sans-serif; */
	font-family: 'Lato', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, sans-serif;
}
/* .font_gothic{font-family:"游ゴシック体", sans-serif;} */

.col_000{color:#000;}
.col_F00{color:#F00;}
.col_red{color:#E50012;}
.col_green{/* color:#002E12; */
color:#004021;}
.col_blue{color:#0012E5;}
.col_blueL{color:#036EB8;}/* 水色 */

.LH100,.LH100 *{line-height:100%;}
.LH125,.LH125 *{line-height:125%;}
.LH150,.LH150 *{line-height:150%;}
.LH175,.LH175 *{line-height:175%;}
.LH200,.LH200 *{line-height:200%;}
/*
.LH150.mgnTmn{margin-top:-0.25em;}
.LH200.mgnTmn{margin-top:-0.5em;}
*/
.LH150.mgnTmn{margin-top:-0.125em;}
.LH200.mgnTmn{margin-top:-0.25em;}

.LS0_1em{letter-spacing:0.1em;}

.indent_mn{
	text-indent:-1em;
	padding-left:1em;
}
.indent_mn_6em{
	text-indent:-6em;
	padding-left:6em;
}

.dpB{display:block;}
.dpI{display:inline;}
.dpIB{display:inline-block;}
.dpN{display:none;}
@media screen and (min-width: 800px) {
	.dp_PCpad_SPblock{display:inline-block; width:0.33em;}
	.dp_PCpad_SPblock.p1em{width:1em;}
}
@media screen and (max-width: 799px) {
	.dp_PCpad_SPblock{display:block;}
}

.span_dpIB span{display:inline-block;}

.floatL{float:left;}
.floatR{float:right;}
.clear{clear:both;}
.clearL{clear:left;}
.clearR{clear:right;}
@media screen and (min-width: 800px) {
	.floatL_pc{float:left;}
	.floatR_pc{float:right;}
}
@media print{
	.floatL_pc{float:left;}
	.floatR_pc{float:right;}
}

.textL{text-align:left;}
.textR{text-align:right;}
.textC{text-align:center;}
.textJ{text-align:justify;
text-align-last:justify;
text-justify:distribute;}
.sp_textL{}
@media screen and (max-width: 799px) {
	.sp_textL{text-align:left;}
}

.sp_notable{}
.sp_notable_IB{}
@media screen and (min-width: 800px) {
	.pc_notable,
	.pc_notable tbody,
	.pc_notable tr,
	.pc_notable tr > *{display:block;}	
}
@media screen and (max-width: 799px) {
	.sp_notable,.sp_notable tbody,.sp_notable tr,.sp_notable th,.sp_notable td,
	.sp_notable_IB,.sp_notable_IB tbody,.sp_notable_IB tr{
		display:block;
	}	
	.sp_notable_IB th,.sp_notable_IB td{
		display:inline-block;
	}
	.sp_notable_IB .sp_dpB{display:block;}
	.sp_notable img{display:inline-block;}
}

.bg_cover,.bg_cover *{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.bg_contain,.bg_contain *{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}
.bg_green{
	background-color:#004021;
	color:#FFF;
}
.bg_greenD{
	background-color:#002E15;
	color:#FFF;
}
.bg_greenL{
	background-color:#00913A;
	color:#FFF;
}
.bg_yellow{
	background-color:#A68E1E;
	color:#FFF;
}
.bg_black{
	background-color:#000000;
	color:#FFF;
}
.bg_E1DBC9{
	background-color:#E1DBC9;
}
/*
.bg_gray{
	background-color:#ECECEC;
	color:#A0A0A0;
}
*/
.bg_gray{
	background-color:#F1F1EF;
}
.bg_white{
	background-color:#FFF;
}
input.bg_gray,textarea.bg_gray,select.bg_gray{
	border:none;
	padding:0.5em 0.5em;
	color:#505050;
	font-size:140%;
}
select.bg_gray option:nth-child(2n){
	background-color:#E1E1DF;
	color:#404040;
}
/*
@media screen and (max-width: 799px) {
	input.bg_gray,textarea.bg_gray{
		padding:2em 1em;
		font-size:14px;
	}
}
*/

.pos_rel{position:relative;}
.pos_abs{position:absolute;}
.pos_fix{position:fixed;}

.radius05{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;}
.radius10{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;}
.radius20{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;}
.radius30{
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;}
.radius50{
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;}
.radius05em{
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;}
.radius075em{
	border-radius: 0.75em;
	-webkit-border-radius: 0.75em;
	-moz-border-radius: 0.75em;}
.radius1em{
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;}
.radius100per{
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;}

.shadow01{
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);}
.shadow02{
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2);}
.shadow04{
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);}
.shadow04bo{
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.1);}

.rotation90{
	-moz-transform:matrix(0, 1, -1, 0, 0, 0);
	-webkit-transform:matrix(0, 1, -1, 0, 0, 0);
	-o-transform:matrix(0, 1, -1, 0, 0, 0);
	transform:matrix(0, 1, -1, 0, 0, 0);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.borderbox,.borderbox *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



/* 印刷用CSS */
/*
@media print{
  印刷用CSSの定義を指定する
}
※印刷時は
「@media screen and (min-width: 1000px)」
「@media screen and (max-width: 999px)」内のスタイルは効かなくなる
*/
@media print{
	body > div .H_head,
	.pc_vanish{
		display:none;!important;
	}
	#header{position:relative;}
}